{% extends 'base.html.twig' %}

{% block title %}Acceuil - GSB
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;

		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		body,
		html {
			height: 100%;
		}
		.bg {
			/* The image used */
			background-image: url("images/background.jpg");

			/* Full height */
			height: 100%;

			/* Center and scale the image nicely */
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>

	<div class="bg">
		<div class="col-md-12 mb-4 white-text text-center wow fadeIn">
		<h3 class="display-3 font-weight-bold black-text mb-0 pt-md-5 pt-5">GSB</h3>
		<hr class="hr my-4 w-75">
                  <h4 class="subtext-header black-text mt-2 mb-4">Vous pourrez entrez ici, vos frais</h4>
		</div>

	</div>
{% endblock %}
